@media screen and (max-width: 720px) {
    .category-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 1em;
    }
  
    .landing-text {
      width: 100%;
    }

    .menu-container {
        height: 5em;
    }
  

      .width-menu {
        width: 90%;
        flex-direction: column;
        align-items: center;
        

      }


      .menu-item {
        color: #ededed;  
        font-weight: 700;
        font-size: 0.66em;
      }

      .icons {
        min-height: 1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-top: 0.25em;
      }

      .footer-row-1 {
        padding-top: 2em;
        display: flex;
        flex-direction: column;
      }

      .footer-company-links {
        
      }

      .menu-link-container {
        padding-bottom: 1em;
      }

      .flex-row {
        flex-direction: column;
        align-items: flex-start;
      }

      .footer-icons-black {
        padding-top: 1em;
      }
  }