/*** Overall Syling ***/

.App {
  background-color: #fff;
  color: #222;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 1660px;
  min-width: 500px;
  margin: auto;
} 

html {
  background-color: #d4d3d3;
}

.gray-color {
  width: 100%;
  color: #e9e9e9;
  height: 10vh;
}


/*** CUSTOM STYLING ***/
/* =================== */

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.33em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
  overflow: hidden;
}

.landing-page-image:hover {
  opacity: 0.85;
}

H2 {
  font-size: 1.1em;
  color: #333;
  font-weight: 700;
  margin-bottom: 0.1em;
}

.text-spacing {
  padding: 1.5em;
  
}

.clickable {
  cursor: pointer;  
}

a {
  color: #222;
  text-decoration: none;
  cursor: pointer;
  transition: ease-in-out;
}

a:hover {
  color: #0f80bd;
  transition-duration: 0.1s;
}


.link {
  margin: 1em;
  font-weight: bold;
  font-size: 1em;
}

.visible {
  opacity: 1;
  transition: ease-in-out;
  transition-duration: 1s;
  padding-right: 2em;
  
}

.hidden {
  opacity: 0;
  transition: ease-in-out;
  transition-duration: 1s;
  padding-right: 2em;

}

.app-store-button {
  padding: 1em;
  margin-top: 2em;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 100%;
  border-radius: 0.66em;
  
}

.loading-graphic {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
}

/*** MENU STYLING ***/
/* ================ */
.menu-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}
.menu {
  min-height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  padding-top: 0.66em;
  padding-bottom: 0.66em;
  
}

.menu-2 {
  min-height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0.55em;
  padding-left: 3em;
  font-weight: 700;
  border-bottom: 0.1em solid #ededed;
  
}

.icons {
  min-height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.logo img {
  width: 3em;
  padding: 0.33em;
}

.icons img {
  width: 1.5em;
  padding: 0.25em;
}



.menu-item {
  color: #222;  
  font-weight: 800;
  font-size: 1.2em;
}


/*** LANDING PAGE STYLING ***/
/* ======================== */

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  width: 90%;
  margin: auto;
  color: #222222;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.landing-container {
  justify-content: flex-start;
  padding-top: 3em;
  padding-bottom: 2em;
}
.landing-page-image {
    object-fit: cover;
    height: 60vh;
    width: 100%;
}

.landing-title {
  font-size: 12em;
  font-weight: 900;
  margin-bottom: -0.35em;
  margin-left: 0;
  margin-top: 0;
}

.landing-description {
  font-weight: bold;
  margin-top: 0;
  font-size: 1em;
}

.landing-page-quote-container {
  padding-top: 9em;
  padding-bottom: 11em;
}

.landing-quote {
  width: 72%;
}




/*** PORTFOLIO SECTION STYLING ***/
/* ============================== */
.portfolio-container {
  width: 90.5%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
}

.portfolio-title {
  font-size: 12em;
  font-weight: 900;
  margin-bottom: -0.35em;
  margin-left: 0;
  margin-top: 0;
}

.portfolio-box {
  display:flex;
  flex-wrap: wrap;
  margin: auto;
  flex-direction: row;
}

.portfolio-entry {
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  object-fit: cover;
  width: 33%;
  padding: 0.1em;
}

.portfolio-entry img {
  height: 100%;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  
}

.portfolio-entry img:hover {
  opacity: .9;
}

#sbf {
  padding-left: 0 !important;
}

.porfolio-slug-section {
  flex-direction: column;
  padding-top: 3em;
  width: 44%;
}



.portfolio-technology {
  display: flex;
  flex-direction: row;
}

.home-page-portfolio {
  height: 100%;
  width: 100%;
}



/*** SINGLE-PAGE SECTION STYLING ***/
/* ============================== */
/* PORTFOLIO  */

.single-page-project-container {
  width: 70%;
  margin: auto;
  margin-bottom: 9em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;

  
}

.quote-box {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.66em;;
  padding-top: 1em;
}

.quote-container {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.quote-text {
  opacity: 0.7;
  font-size: 1em;
  font-style: italic;
}

.quote-author {
  font-weight: bold;
}

.single-page-image-container {
  justify-content: flex-end;  
}


.single-page-image {
  width: 100%;
  height: 33em;
  max-height: 33%;
  object-position: top;
  border-radius: 1em;
  box-sizing: border-box;
  
}

.all-projects-images {
  width: 33%;
  object-fit: cover;
} 

.single-page-project-copy {
  padding: 1em;
  box-sizing: border-box;
  
}


/*** BLOG SECTION STYLING ***/
/* ============================== */

.home-page-blogs {
  
  padding-top: -1em;
  padding-bottom: 12em;
  width: 90%;
  margin: auto;

}

.overall-blog-container {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  padding-top: 1em;

}

.blogs-container {
  background-color: #ededed;
  width: 100%;
  padding: 5em;
}

.blogs-container:hover {
  opacity: 0.9;
}

.blog-post {

}


.blog-menu {
  flex: 1;
  width: 80%;
}

.blog-text {
  font-size: 0.9em;
}


.blog-menu-items {
  opacity: 0.66;
  transition: 1s;
}

.blog-menu-items:hover {
  opacity: 1
}



.blog-author {
  padding-top: 2em;
}

/*** Blogs home page styling ***/

.blogs-template-home {
  padding-top: 2em;
}

.lineBreak {

  margin-top: 1em;
  margin-bottom: 1em;
}

/*** Single Page BLOG SECTION STYLING ***/
/* ============================== */
.single-page-blog-menu {
  padding-right: 5em;
}

.single-page-blog {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  font-size: 1.25em;
}

.single-blog-container {
  width: 66%;
  margin: auto;
  padding-bottom: 9em;
}

.single-page-blog p {
  font-size: 0.91em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.25em;
  padding-left: 0.25em;
}

.single-page-blog a {
  cursor: pointer;
  color: rgb(81, 183, 218);
  
}


.eighty-width {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 7em;
}

/*** FOOTER SECTION STYLING ***/
/* ============================== */

.footer {
  color: #efefef;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 3em;
  padding-top: 5em;
  width: 80%;
  margin: auto;
}

.footer-row-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  align-content: center;
  padding-right: 3em;
  padding-left: 3em;
  padding-bottom: 5em;
  width: 80%;
  margin: auto;
}

.footer-company-title {
  flex: 1;
}

.footer-company-links {
  flex: 1.66;
}

.footer-link {
  color: #ededed;
}

.footer-link:hover {
  color: #999 !important;
}


.footer-link {
  color: rgba(226, 226, 226, 0.856);
  font-size: 0.9em;
}

.footer-link:hover {
  color: rgba(187, 187, 187, 0.856);
  cursor: pointer;
}

.copyright-link {
  color: rgba(226, 226, 226, 0.856);
  font-size: 0.66em;
  padding: 0.1em;
}

.footer-icon-container {
  display: flex;
  flex-wrap: nowrap;
  min-height: 5vh;
  background-color: rgb(10, 10, 10);
  align-items: center;
  justify-content: space-between;
  padding: 1.66em;
  padding-left: 3em;
  padding-right: 3em;
  
}


.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.half-width {
  width: 66%;
}

.underline {
  border-bottom: 1px rgba(226, 226, 226, 0.856) solid;
}

.small-font {
  font-size: 0.66em;
}

.footer-icons {
  width: 1.5em;
  height: 1.5em;
  padding: 1em;
  
}

.footer-icons:hover {
  transform: scale(1.15);
}

.menu-link-container {
  flex: 1;  
  font-size: 1.66em;
  display: flex;
  flex-direction: column;
}

.menu-link-container h2:hover {  
  color: rgba(187, 187, 187, 0.856);
  cursor: pointer;
}

.app-link-container {

  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-around;
}


@media screen and (max-width: 1024px) {



}


@media screen and (max-width: 700px) {

  .menu-container {
    display: flex;
    flex-direction: column;
    padding-top: 3em;
    align-items: center;

  }

  .menu {
    padding: 0;
    min-height: 4em;
  }

  .icons {
    padding: 0;
    min-height: 2.5em;
  }

  .menu-item {
    margin-top: 0;
    margin-bottom: 0;
    
  }

  .logo img {
    height: 3em;
    width: 4.5em;
    padding: 0;
  }

  .landing-page-quote-container {
    padding-top: 7em;
    padding-bottom: 9em;
    text-align: left;
    width: 66%;
  }




  .landing-title {
    font-size: 12em;
    font-weight: 900;
    margin-bottom: -1em;
    padding-bottom: -1em;
    margin-left: 0;
    margin-top: 0;
  }

  
  .footer-row-1 {
    display: flex;
    flex-direction: column;

  }

  .app-link-container {
    display: flex;
    flex-direction: column
  }

  .store-container-2 {
    padding-left: 0;
  }

  .footer-row-2 {
    display: block;
  }


  .portfolio-container {
    width: 80%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;

  }

  .portfolio-container img {
    height: 15em;
    
  }
  .portfolio-entry {
    padding-left: 0;
  }

  .portfolio-box {
    display: flex; 
    flex-direction: column;
  }

  .portfolio-slug-section {
    width: 80%;
    
  }



  .porfolio-slug-section {
    width: 80%;
  }

  .landing-container {
    margin-top: 0;
    padding-top: 0 !important;
  }

}