/*** Overall Syling ***/

.App {
  background-color: #fff;
  color: #222;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 1660px;
  margin: auto;
} 

html {
  background-color: #d4d3d3;
}


/*** CUSTOM STYLING ***/
/* =================== */

p {
  margin-top: 0;
  line-height: 1.33em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 50%;
  overflow: hidden;
}


.text-spacing {
  padding: 1.5em;
  
}

.clickable {
  cursor: pointer;  
}

a {
  color: #222;
  text-decoration: none;
  cursor: pointer;
  transition: ease-in-out;
}

a:hover {
  color: #0f80bd;
  transition-duration: 0.3s;
}


.link {
  margin: 1em;
  font-weight: bold;
  font-size: 1em;
}

.app-store-button {
  padding: 1em;
  margin-top: 2em;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 100%;
  border-radius: 0.66em;
  
}

/*** MENU STYLING ***/
/* ================ */
.menu-container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}
.menu {
  min-height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  padding-top: 0.66em;
  padding-bottom: 0.66em;
  
}

.logo img {
  width: 3em;
  padding: 0.33em;
}

.icons img {
  width: 1.66em;
  padding: 0.33em;
}



.menu-item {
  color: #222;  
}


/*** LANDING PAGE STYLING ***/
/* ======================== */

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  width: 90%;
  margin: auto;
  color: #222222;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.landing-container {
  justify-content: flex-start;
  padding-top: 3em;
  padding-bottom: 2em;
}
.landing-page-image {
  background:
    linear-gradient(90deg, rgba(255, 255, 255, 0.97), rgb(207, 207, 207));
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.landing-title {
  font-size: 5em;
  margin-bottom: 0;
  font-weight: 900;
}

.landing-description {
  font-weight: bold;
  margin-top: 0;
  font-size: 1em;
}

.landing-quote {
  background-color: #efefef;
  color: #222;
  padding-top: 13em;
  padding-bottom: 9em;
  padding-left: 5em;
  padding-right: 5em;
  margin-top: -9em;
  margin-bottom: 0em;
  font-size: 2em;
  font-weight: 900;
}



/*** PORTFOLIO SECTION STYLING ***/
/* ============================== */
.portfolio-container {
  width: 90%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 3em;
  margin-top: -11em;
}

.portfolio-box {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto;
  overflow: hidden;
  
}

.visible {
  opacity: 1;
  
}

.hidden {
  opacity: 0;

}


.portfolio-title {
  margin-left: 3em;
}

.portfolio-t {
  font-weight: 900;
}

.porfolio-slug-section {
  flex-direction: column;
  padding-top: 5em;
  width: 44%;
}


.portfolio-entry {
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  z-index: 1;
  padding-left: 1.66em;
  padding-right: 0;
  padding-bottom: 1.66em;
}

.portfolio:hover {
  opacity: 1 !important;
}

#up-down-timer {
  padding-left: 0 !important;
}

.portfolio-entry img {
  height: 23em;
  transition-duration: 1s;
}

.portfolio-entry img:hover {
  opacity: .9;
  overflow: hidden;
  transition: ease-in-out;
  object-fit: contain;
  transition-duration: 1s;
}



.portfolio-technology {
  display: flex;
  flex-direction: row;
}

.home-page-portfolio {
  height: 100%;
  width: 100%;
}



/*** SINGLE-PAGE SECTION STYLING ***/
/* ============================== */
/* PORTFOLIO  */

.single-page-project-container {
  width: 70%;
  margin: auto;
  margin-bottom: 9em;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  align-items: stretch;
  box-sizing: border-box;
  
}

.quote-box {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.66em;;
  padding-top: 1em;
}

.quote-container {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.quote-text {
  opacity: 0.7;
  font-size: 1em;
  font-style: italic;
}

.quote-author {
  font-weight: bold;
}


.single-page-image {
  width: 100%;
  height: 100%;
  border-radius: 1em;
  box-sizing: border-box;
}

.single-page-project-copy {
  padding: 1em;
  box-sizing: border-box;
  margin-right: 7em;
  
}


/*** BLOG SECTION STYLING ***/
/* ============================== */

.home-page-blogs {

  padding-top: 5em;
  padding-bottom: 9em;
  width: 80%;
  margin: auto;
}

.overall-blog-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  
}

.blogs-container {
  width: 66%;
}

.blog-post {
  border-bottom: 1px solid white;
}


.blog-menu {
  flex: 1;
  width: 80%;
}

.blog-text {
  font-size: 0.9em;
}


.blog-menu-items {
  opacity: 0.66;
  transition: 1s;
}

.blog-menu-items:hover {
  opacity: 1
}



.blog-author {
  padding-top: 2em;
}

/*** Blogs home page styling ***/

.blogs-template-home {
  padding-top: 2em;
}

.lineBreak {
  border: 1px solid #999;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*** Single Page BLOG SECTION STYLING ***/
/* ============================== */
.single-page-blog {
  display: flex;
  flex-direction: row;
  width: 66%;
  padding: 9em;
  padding-top: 1em;
  padding-right: 15em;
}

.single-page-blog-container {
  padding-right: 5em;
}

.single-page-blog a {
  cursor: pointer;
  color: rgb(81, 183, 218);
}

/*** FOOTER SECTION STYLING ***/
/* ============================== */

.footer {
  color: #efefef;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.footer-background {
  display: flex;
  min-height: 66vh;
  width: 100%;
  align-items: center;
  justify-content: center; 
  background-color: #222; 
  
}

.footer-icon-container {
  display: flex;
  flex-wrap: nowrap;

  min-height: 5vh;
  background-color: #111;
  align-items: center;
  justify-content: center;
  
}

.footer-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}

.footer-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  width: 66%;
}

.footer-title {
  font-weight: 900;
  font-size: 3em;
  margin-bottom: 0.33em;
}

.footer-text {
  padding-right: 0.3em;
  padding-left: 0.3em;
  
}

.footer-link {
  color: #0f80bd;
}



.footer-text-container-two {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  width: 2.5em;
  height: 2.5em;
  padding: 1.3em;
  
}

.footer-icons:hover {
  transform: scale(1.15);
}



@media screen and (max-width: 1024px) {
  
  .portfolio {

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5 minmax(0.1fr, 1fr));
    margin: auto;
    overflow: hidden;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
  }

}


@media screen and (max-width: 700px) {

  .blogs-container {
    width: 100%;
    padding-top: 1em; 
    padding-bottom: 2em; 
    font-size: 1em;
  }

  .home-page-blogs {
    padding: 0.5em;
    padding-top: 2em;
    padding-bottom: 3em;
  }

  .menu {
    min-height: 3em;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
    
  .landing-page {
    min-height: 95vh;
    width: 100%;
    font-size: .3em;

  }

  .single-page-blog {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding: 2em;
    padding-top: 1em;
  }
  
  .single-page-blog-container {
    padding-right: 1em;
  }

  .single-page-project-container {
    width: 85%;
    margin: auto;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    box-sizing: border-box;
    
    flex-direction: row-reverse;
  }

  .single-page-project-copy {
    padding: 1em;
    width: 100%;
    
  }
  

}