/*** Overall Syling ***/

.App {
  background-color: #fff;
  color: #555;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 1660px;
  min-width: 500px;
  margin: auto;
} 



/*** CUSTOM STYLING ***/
/* =================== */

p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  line-height: 1.3em;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.landing-page-image:hover {
  opacity: 0.85;
}

H2 {
  font-size: 1.1em;
  color: #333;
  font-weight: 700;
  margin-bottom: 0.1em;
}

.text-spacing {
  padding: 1.5em;
  
}

.clickable {
  cursor: pointer;  
}

a {
  color: #222;
  text-decoration: none;
  cursor: pointer;
  transition: ease-in-out;
}

a:hover {
  color: #0f80bd;
  transition-duration: 0.1s;
}


.link {
  margin: 1em;
  font-weight: bold;
  font-size: 1em;
}

.visible {
  opacity: 1;
  transition: ease-in-out;
  transition-duration: 1s;
  padding-right: 2em;
  
}

.hidden {
  opacity: 0;
  transition: ease-in-out;
  transition-duration: 1s;
  padding-right: 2em;

}

.app-store-button {
  padding: 1em;
  margin-top: 2em;
  font-weight: bold;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 100%;
  border-radius: 0.66em;
  
}

.loading-graphic {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
}


/*** MENU STYLING ***/
/* ================ */
.menu-container {
  padding-right: 1em;
  padding-left: 1em;
  min-height: 5em;
  color: #555;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between
}

.icons {
  min-height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.logo img {
  width: 3em;
  padding: 0.33em;
}

.icons img {
  width: 1.5em;
  height: 1 em;
  padding: 0.25em;
}



.menu-item {
  color: #222;  
  font-weight: 800;
  font-size: 1.2em;
}

.terms-privacy-container {
  width: 85%;
  font-size: 11px;
  border-top: 1px solid #666;
  padding-top: 2em;
  margin-top: 2em;
  padding-bottom: 7em;
}

.sub-menu-container {
  display: flex;
  justify-content: flex-end;
}

.sub-menu-item {
  padding-left: 1em;
}

/*** Nature FM  App Page Styling ***/
/* ======================== */
.app-container {
  width: 90%;
  margin: auto;
}


.nature-fm-container {
  width: 85%; 
  padding-bottom: 5em;
}


.app-image-header {
  width: 8em;
  margin: auto;

  height: 7em;
  object-fit:cover;
  border-radius: 1em;
  
}


.app-store-icon {
  width: 160px;
  border-radius: 15px;
  margin-top: 1em;
}



/*** LANDING PAGE STYLING ***/
/* ======================== */

.landing-page {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  min-height: 85vh;
  margin-bottom: 6em;

}

.landing-text-container {
  
  width: 90%;
}

.landing-description {
  font-weight: bold;
  margin-top: 0;
  font-size: 1em;
}


.landing-title {
  font-size: 5em;
  font-weight: 900;
  color: #555;
  margin-bottom: 0;
}

.landing-quote {

  margin-top: 0;
  font-weight: 600;
}

.landing-text {

  margin-top: 0;
  font-weight: 400;
}



/*** PORTFOLIO SECTION STYLING ***/
/* ============================== */
.portfolio-container {
  display: flex;
  align-items: center;

  flex-direction: column;
  padding-bottom: 3em;
  min-height: 70vh;
}

.portfolio-title {
  font-size: 3em;
  font-weight: 900;
  color: #333;

}

.portfolio-box {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  margin: auto;
  padding-top: 1em;

}

.portfolio-entry {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  padding-top: 1em;

}

.portfolio-link-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.portfolio-text-container {
  padding-left: 1em;
}

.portfolio-link-container img {
  width: 6em;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  color: #444;
}

.portfolio-tagline {
  font-weight: 400;
  font-size: 14px;
  color: #444;
}

.portfolio-category {
  font-weight: 700;
  font-size: 10px;
  color: #444;
}


.portfolio-entry img:hover {
  opacity: .9;
}

.porfolio-slug-section {
  flex-direction: column;
  padding-top: 1em;
  width: 44%;
}



.portfolio-technology {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.category-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-item {
  padding-right: 0.5em;
}




/*** SINGLE-PAGE SECTION STYLING ***/
/* ============================== */
/* PORTFOLIO  */

.single-page-project-container {
  width: 95%;
  margin: auto;
  margin-bottom: 9em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  box-sizing: border-box;

  
}

.single-page-title {
  font-weight: 800;
  font-size: 24px;

}

.single-page-tagline {
  font-weight: 400;
  padding-bottom: 0.5em;
}

.single-page-tools {
  font-weight: 600;
  padding-bottom: 0.2em;
}

.quote-box {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.66em;;
  padding-top: 1em;
}

.quote-container {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}

.quote-text {
  opacity: 0.7;
  font-size: 1em;
  font-style: italic;
}

.quote-author {
  font-weight: bold;
}

.single-page-image-container {
  justify-content: flex-end; 
  width: 25%;
  margin: auto;
}


.single-page-image {

  object-position: top;
  border-radius: 1em;
  box-sizing: border-box;
  
}

.all-projects-images {
  width: 33%;
  object-fit: cover;
} 

.single-page-project-copy {
  padding: 1em;
  box-sizing: border-box;
  width: 80%;
  
}





/*** BLOG SECTION STYLING ***/
/* ============================== */

.home-page-blogs {
  display: flex;
  align-items: center;
  padding-top: -1em;
  padding-bottom: 12em;
  width: 90%;
  margin: auto;
  min-height: 70vh;

}

.overall-blog-container {

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  padding-top: 1em;

}

.blogs-container {
  width: 100%;
}

.blog-title {
  font-weight: 900;
  font-size: 18px;
  color: #999999;
  padding-bottom: 1em;
}

.blog-title:hover {

  color: #666;
}

.blog-container {
  display: flex;
  flex-direction: column;
}


.blog-menu {
  flex: 1;
  width: 80%;
}

.blog-text {
  font-size: 0.9em;
}

.blog-date {
  font-weight: 700;
  font-size: 12px;
  color: #555;
}


.blog-menu-items {
  opacity: 0.66;
  transition: 1s;
}

.blog-menu-items:hover {
  opacity: 1
}



.blog-author {
  padding-top: 2em;
}

/*** Blogs home page styling ***/

.blogs-template-home {
  padding-top: 2em;
}

.lineBreak {

  margin-top: 1em;
  margin-bottom: 1em;
}

/*** Single Page BLOG SECTION STYLING ***/
/* ============================== */
.single-page-blog-menu {
  padding-right: 5em;
}

.single-page-blog {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  font-size: 1.25em;
  width: 85%;
}

.single-page-blog-container {
  
 
}

.single-blog-container {
  width: 80%;
  margin: auto;
  padding-bottom: 9em;
}

.single-page-blog p {
  font-size: 0.91em;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0.25em;
  padding-left: 0.25em;
}

.single-page-blog a {
  cursor: pointer;
  color: rgb(81, 183, 218);
  
}


.eighty-width {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 7em;
}

/*** FOOTER SECTION STYLING ***/
/* ============================== */

.footer {
  color: #efefef;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  padding: 3em;
  padding-top: 5em;
  width: 80%;
  margin: auto;
}

.footerlinks-title {
  font-weight: 700;
  font-size: 18px;

}

.whiteIcons img {
  color: white;
  background-color: white;
  padding: 10em;
}

.footer-company-links {
  width: 66.5%;
}

.footer-link {
  color: #ededed;
}

.footer-link:hover {
  color: #999 !important;
}


.footer-link {
  color: rgba(226, 226, 226, 0.856);
  font-size: 14px;
}

.footer-link:hover {
  font-weight: 700;
  cursor: pointer;
}

.copyright-link {
  color: rgba(226, 226, 226, 0.856);
  font-size: .75em;
  padding: 0.1em;
}

.copyright-link:hover {
  font-weight: 700;
}

.footer-icon-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  padding-top: 1em;
  padding-bottom: 3em;
  margin: auto;
  
}


.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.half-width {
  width: 66%;
}

.underline {
  border-bottom: 1px rgba(226, 226, 226, 0.856) solid;
}

.small-font {
  font-size: 0.66em;
}

.footer-icons {
  width: 1.5em;
  height: 1.5em;
  padding: 1em;
  
}

.footer-icons:hover {
  transform: scale(1.15);
}

.menu-link-container {
  flex: 1;  
  font-size: 1.66em;
  display: flex;
  flex-direction: column;
}

.menu-link-container h2:hover {  
  color: rgba(187, 187, 187, 0.856);
  cursor: pointer;
}

.app-link-container {
  width: 66.5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

